// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem; // 1140px; current standard
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BOX-SHADOW

$box-shadow-feature-box: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-photo: 0 1.5rem 4rem rgba($color-black, .4);
$box-shadow-photo-hover: 0 2.5rem 4rem rgba($color-black, .5);
$box-shadow-card__side: 0 1.5rem 4rem rgba($color-black, .15);
$box-shadow-btn-hover: 0 1rem 2rem rgba($color-black,.2);
$box-shadow-btn-active: 0 .5rem 1rem rgba($color-black,.2);
$box-shadow-btn-text-hover: 0 1rem 2rem rgba($color-black,.15);
$box-shadow-btn-text-active: 0 .5rem 1rem rgba($color-black,.15);
$box-shadow-heading-secondary-hover: .5rem 1rem 2rem rgba($color-black, .2);
$box-shadow-story: 0 3rem 6rem rgba($color-black, .1);
$box-shadow-book: 0 1.5rem 4rem rgba($color-black, .2);
$box-shadow-input-focus: 0 1rem 2rem rgba($color-black, .1);
$box-shadow-link-hover: 0 1rem 2rem rgba($color-black, .4);

// GRADIENT

$gradient-primary: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
$gradient-secondary: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
$gradient-tertiary: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);

// BORDER-RADIUS
$border-radius-photo: 2px;
$border-radius: 3px;

