.row {
    max-width: $grid-width; 
    background-color: #eee;
    margin: 0 auto; // center block elements inside another block element

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
}