*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;  // 1rem = 10px;
    box-sizing: border-box;

    @include respond(adapt-font) {
        font-size: 50%;
    }
}

body {

}