.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        color: $color-white;

        height: 52rem;
        transition: all .8s ease;  
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden; 
        border-radius: $border-radius;
        overflow: hidden; 
        box-shadow: $box-shadow-card__side;
        
        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(-180deg);

            &-1 {
                background-image: $gradient-secondary;
            }

            &-2 {
                background-image: $gradient-primary;
            }

            &-3 {
                background-image: $gradient-tertiary;
            }

        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clippath: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: $border-radius; // Fix loss of rounded corners because of clip-path in Chrome
        border-top-right-radius: $border-radius;

        &--1 {
            background-image: $gradient-secondary, url(../img/nat-5.jpg);

            /* Note that this is only useful for super high resolution screens. Hence implemented as demonstration only. */
            @include responsive-images(3 * $width-picture) {
                background-image: $gradient-secondary, url(../img/nat-5-large.jpg)
            }
        }

        &--2 {
            background-image: $gradient-primary, url(../img/nat-6.jpg);

            @include responsive-images(3 * $width-picture) {
                background-image: $gradient-primary, url(../img/nat-6-large.jpg)
            }
        }

        &--3 {
            background-image: $gradient-tertiary, url(../img/nat-7.jpg);

            @include responsive-images(3 * $width-picture) {
                background-image: $gradient-tertiary, url(../img/nat-7-large.jpg)
            }
        }

    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        text-align: right;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-secondary-light, .85),
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, .85),
                rgba($color-tertiary-dark, .85));
        }

    }

    &__details {
        padding: 3rem;
        color: $color-grey-dark;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
            
                &:not(:last-child) {
                    border-bottom:1px solid $color-grey-light-2;
                }
            }
        }
    }

    &__cta {
        @include center-block;
        
        position: absolute;
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100; 
    }

    //@include respond(tab-port) {
    @media only screen and (max-width: $breakpoint-tab-port),
           only screen and (hover: none) {

        // FUNCTIONALITY
        height: auto;
        border-radius: $border-radius;
        background-color: $color-white;
        box-shadow: $box-shadow-card__side;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}