.container {
    max-width: var(--container-width);
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @include respond(adapt-container) {
        margin: 0;
        width: 100%;
    }
}