.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(adapt-font) {
        flex-wrap: wrap;
        height: 12rem;
        align-content: space-around; 
    }
}