.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}