@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-block {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: $breakpoint-phone) { @content };
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: $breakpoint-tab-port) { @content };
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: $breakpoint-tab-land) { @content };
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: $breakpoint-desktop) { @content };
    }
}

@mixin responsive-images($width-picture-break) {
    @media only screen and (min-resolution: $resolution-apple-retina-screen) and (min-width: $breakpoint-phone),
           only screen and (-webkit-min-device-pixel-ration: 2) and (min-width: $breakpoint-phone), 
           only screen and (min-width: $width-picture-break) { @content };
}